*{
    /* outline: 1px solid red; */
    margin:0;
    padding:0;
    font-family: 'Courgette', cursive;
}
/* page fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
    width:100%;
}
.container{
    width: 80%;
    margin:0 auto;
    height:auto;
    background-color:#0F7E9B;
    margin-top:5%;
    border-radius: 20px;
    box-shadow: 5px 5px 30px 5px #909090;
}
.right-side{
    display: block;
    width: 100%;
    text-align: center;
}
#greet{
    margin-top: 13px;
    font-family: 'Courgette', cursive;
    color: #fff;
}
.logo-text{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:20px;
    font-family: 'Courgette', cursive;
    color: #fff;
}
.nav{
    margin: 0 auto;
    width: 58%;
    height:30px;
    margin-top: 10px;
    background-color: white;
    border-radius: 6px;
    padding:10px;
    text-align: center;
}
li{
    display: inline;
    border-right: 1px #909090 solid;
    padding: 0px 10px;
}
li:last-child{
    border-right: none;
}
a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}
#l1:hover, #l2:hover, #l3:hover, #l4:hover, 
#l4:hover, #l5:hover, #l6:hover, #l7:hover, #l8:hover{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    background-color: #F9ACBB;
    padding:16px 11px 11px 11px;
    border-radius: 6px;
}
.active{
    background-color: #F9ACBB;
    padding:16px 11px 11px 11px;
    border-radius: 6px;
}
.list{
    margin: 0 auto;
    margin-top:6px;
}
.quote{
    margin: 20px auto  auto;
    width: 50%;
    height:320px;
}

button{
    display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #000;
	background-color: #F9ACBB;
    cursor: pointer;
}
.btn{
    text-align: center;
    margin: 20px;
}
.quote{
    width:auto;
    display: flex;
    text-align: center;
    margin: 0 auto;
    height:auto;
}
#gen{
    margin-bottom: 20px;
}
#result{
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color: white;
    margin: 0 auto;
    margin-top: 20px;
    
}

#gen:hover{
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    background-color: #92D7EF;
}

h1#greet span{
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 0.5s ease-out forwards;
    display:inline-block;
  }
  
  h1#greet span:nth-of-type(2){
    animation-delay: 0.5s;
  }
  
  h1#greet span:nth-of-type(3){
    animation-delay: 1s;
  }
  
@media all and (max-width:500px) {
    .logo-text{
        font-size: 1.4rem;
        padding-top: 20px;
    }
    .nav{
        margin: 0 auto;
        width: 80%;
        height:135px;
        margin-top: 20px;
    }
    li{
        line-height: 45px;
    }
}
/* keyframe animations  */
@keyframes fadeIn{
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }
  
